{% extends 'base.twig' %}

{% block body %} {# create about page construction #}
    <h2 class="mb-3 mt-3 ">Доброго дня, {{ name }}!</h2>
    <h5>Сайт створений з метою полегшення знаходження та орієнтування у нашому місті! Маємо думку, що ця платформа стане корисною для вас!
    Просимо про поширення та популяризацію нашого проекту. <br> <br>
        Для отримання інформації, розпорядником якої є Луцька міська рада, необхідно подати відповідний запит.

        Подаватися запити можуть в усній, письмовій чи іншій формі. <br><br>
        Зокрема: <br>

        Поштою  - на адресу: Луцька міська рада, вул. Богдана Хмельницького, 19, каб. 108, м. Луцьк, 43025; <br>
        Факсом - за номером: (0332) 777 947; <br>
        Телефоном - за номером: (0332) 777 983: <br>
        Електронною поштою - за адресою: public@lutskrada.gov.ua.<br>
        Письмовий запит подається у довільній формі.<br><br>
        Графік роботи: <br> ПН-ЧТ 08:30—17:30 <br>
        ПТ 08:30—16:15<br>
        Обідня перерва 13:00—13:45 </h5>
    <div class="container"></div>
{% endblock %}