{% extends 'base.twig' %}

{% block body %} {# create about page construction #}
    <h2 class="mb-3 mt-3 ">Про Луцьк!</h2>
    <h5>Луцьк – одне з найдревніших міст України. Його історія налічує близько 1000 років. Перша літописна згадка про Луцьк датується 1085 роком, від якого лучани рахують день народження свого міста. <br> <br>
        Станом на 1 січня 2022 року кількість населення Луцької міської територіальної громади становить  243 482 особи, в місті Луцьку 215 986 осіб.<br> <br>
        Густота населення складає 637 осіб на 1 км². Площа Луцької міської територіальної громади становить 38 257,43 га (382,57 км²), з яких: площа м. Луцька – 40,23  км².</h5> <br>
    <p style="text-align: center"><img src="/public/images/lutsk.jpg"></p>
    <h5><br>
    Луцьк є обласним центром Волинської області.<br> <br>

    День міста Луцька відзначається у 2-гу суботу, неділю вересня.<br> <br>

    Відстань від Луцька до столиці України, м. Києва, становить 370 км (фізично), 388 км автошляхами та 469 км залізницею.</h5>
    <div class="container"></div>
{% endblock %}