{% extends 'base.twig' %}

{% block body %} {# відмалювання помилки про не існування сторінки #}
    <div class="container">
        <h1 class="mb-3 mt-3">Page not found!</h1>
    </div>
{% endblock %}